
#menu{
	position: fixed;
	width: 100%;
	height: 35px;
	text-align: right;
	display: flex;
	justify-content: space-between;
} 
#title{
	color: #047c2a;
	text-decoration: none;
	margin-left: 20px;
}
nav li {
	display: inline-block;
	margin-right: 20px;

 } 
nav a {
	color: #08bd38;
	font-weight: bold;
	font-size: 16px;
	padding: 10px;
	border-radius: 5px;
	text-decoration: none;
  }
  
nav a:hover {
	background-color: #555;
  }

  body {
	background-color: lightgray;
  }

  h3{
	color: #08bd38;
	text-align: center;
	border-bottom: 1px solid #047c2a;
	font-size: 26px;
  }
.container{
	justify-content: center;
	display: flex;
}
.text{
	padding: 20px;
}